<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="site-section" id="blog-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center aos-init aos-animate" data-aos="fade">
            <h2 class="section-title mb-3">Курсы</h2>
          </div>
        </div>

        <div class="row">r
	{% for curse in curses %}
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <div class="h-entry">
              <a href="single.html">
                <img src="/static/images/person_8.jpg" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="#">curse.name</a></h2>
              <div class="meta mb-4">curse.place <span class="mx-2">•</span> curse.date_of_start<span class="mx-2">•</span> curse.date_of_end<span class="mx-2">•</span> <a href="#">curse.field_of_activity</a></div>
              <p>curse.description</p>
              <p><a href="#">Continue Reading...</a></p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
</body>
</html>