{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="site-section" id="about-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2 class="section-title mb-3">{{course.name}}</h2>
                <h4>{{course.date_of_start}} - {{course.date_of_end}}</h4>
                {% if course.field_of_activity is not None %}
                <h4>Сфера деятельности: {{course.field_of_activity}}</h4>
                {% endif %}
                <h4>Количество мест: {{course.count_place}}</h4>
                <h4>Место проведения: {{course.place}}</h4>
                {% if course.author %}
                <h4>Автор: {{course.author}}</h4>
                {% endif %}
            </div>
        </div>
        <p>{{course.description}}</p>
        {% if course.requirement %}
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h3>Требования к кандидату</h3>
            </div>
            <p>{{course.requirement}}</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}