{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <div class="site-blocks-cover overlay" data-aos="fade" id="home-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 mt-lg-5 text-center">
                    <h1 class="text-uppercase mb-5" data-aos="fade-up">Создаём пространство движений</h1>

                    <div data-aos="fade-up" data-aos-delay="100">
                        <a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Зарегистрироваться</a>
                    </div>
                </div>

            </div>
        </div>

        <a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
        </a>
    </div>
    <section class="site-section cta-big-image" id="feat">
        <div class="container">
            <div class="row features">
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="100ms">
                    <img src="{% static 'images/1.png' %}" alt="Image" class="img-fluid">
                    <h4>Лучший</h4>
                    <p>стунденческий бизнес-инкубатор в России в 2016(по версии ФИБИ МГИМО) </p>
                </div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="300ms">
                    <img src="{% static 'images/2.png' %}" alt="Image" class="img-fluid">
                    <h4>Топ-10</h4>
                    <p>стунденческий </p>
                </div>
                <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="500ms">
                    <img src="{% static 'images/3.png' %}" alt="Image" class="img-fluid">
                    <h4>Топ-180</h4>
                    <p>стунденческий бизнес-инкубатор в России</p>
                </div>
            </div>
        </div>
    </section>
    <section id="info" class="site-section cta-big-image">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center" data-aos="fade">
                    <h2 class="section-title mb-3">OREH - это...</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="mb-4">
                        <ul class="list-unstyled ul-check success">
                            <li>Развитие студенческого предпринимательства</li>
                            <li>Помощь в поиске и упаковке бизнес-идеи</li>
                            <li>Участие в мероприятиях и конкурсах</li>
                            <li>Предоставление рабочего места</li>
                            <li>Весенняя/осенняя школы резидента</li>
                            <li>Co-working пространство для студентов</li>
                            <li>Факультатив для студентов СВФУ</li>
                            <li>«Интернет-предпринимательство»</li>
                            <li>Среда единомышленников</li>
                        </ul>
                    </div>
                    <p><a href="#contact-section" class="smoothscroll btn btn-primary">Take a Look</a></p>
                </div>
                <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <figure class="circle-bg">
                        <img src="{% static 'images/2020-12-12_18-02-28.png' %}" alt="Image" class="img-fluid">
                    </figure>
                </div>
            </div>
    </section>

    <div class="site-section cta-big-image" id="achievement-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center" data-aos="fade">
                    <h2 class="section-title mb-3">Достижения СВФУ</h2>
                </div>
            </div>
            <div class="row">
                {% for achievement in achievements %}
                <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <figure class="circle-bg">
                        <img src="{% static 'images/hero_1.jpg' %}" alt="Image" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="mb-4">
                        <h3 class="h3 mb-4 text-black">{{achievement.name}}</h3>
                        <p>{{achievement.description}}</p>
                    </div>
                </div>
                {% endfor %}
                <p class="text-center"><a href='#'>Посмотреть больше...</a></p>
            </div>
        </div>
    </div>
    <section class="site-section bg-light" id="pricing-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center" data-aos="fade-up">
                    <h2 class="section-title mb-3">Pricing</h2>
                </div>
            </div>
            <div class="row mb-5">
                {% for service in services %}
                <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="">
                    <div class="pricing">
                        <div class="h-entry">
                            <h3 class="text-center text-black">{{service.name}}</h3>
                            <!--                        <div class="price text-center mb-4 ">-->
                            <!--                            <span><span>$47</span> / year</span>-->
                            <!--                        </div>-->
                            <p>{{service.description|truncatechars:100}}</p>
                            <p class="text-center">
                                <a href="#" class="btn btn-secondary">Buy Now</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row site-section" id="faq-section">
                <div class="col-12 text-center" data-aos="fade">
                    <h2 class="section-title">Frequently Ask Questions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                {% for question in questions %}
                    <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="text-black h5 mb-4">{{question.description}}</h3>
                        <p>{{question.answer}}</p>
                    </div>
                {% enfor %}
                </div>
            </div>
        </div>
    </section>

</div> <!-- .site-wrap -->
{% endblock content %}

