<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
    <style>
    header {
        background: #fff;
    }
    .sticky-wrapper .site-navbar .site-menu > li > a {
        color: rgba(0, 0, 0, 0.7) !important;
    }
    .sticky-wrapper .site-navbar .site-menu > li > a:hover {
            color: rgba(0, 123, 255, 0.7) !important;
    }
    .sticky-wrapper .site-navbar .site-logo a {
        color: #007bff;
    }
<!--    .container{-->
<!--        position:fixed;-->
<!--    }-->
    <style>
    .container{
        padding-top:40px;
    }
</style>

    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="{% url 'oreh_app:index' %}" class="mb-0">Oreh</a></h1>
            </div>

            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="has-children">
                            <a href="{% url 'oreh_app:index' %}#about-section" class="nav-link">О бизнес-инкубаторе</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'oreh_app:index' %}#info" class="nav-link">OREH - это...</a></li>
                                <li><a href="{% url 'oreh_app:index' %}#achievement-section" class="nav-link">Достижения СВФУ</a>
                                </li>
                                <li><a href="{% url 'oreh_app:index' %}#pricing-section" class="nav-link">Услуги</a></li>
                                <li><a href="{% url 'oreh_app:index' %}#question-section" class="nav-link">Популярные вопросы</a>
                                </li>
                                <li><a href="{% url 'oreh_app:index' %}#contact-section" class="nav-link">Контакты</a></li>
                            </ul>
                        </li>

                        <li><a href="#portfolio-section" class="nav-link"></a></li>
                        <li><a href="{% url 'oreh_app:residents' %}" class="nav-link">Резиденты</a></li>
                        <li><a href="{% url 'oreh_app:graduates' %}" class="nav-link">Выпускники</a></li>
                        <li><a href="{% url 'oreh_app:courses' %}" class="nav-link">Курсы</a></li>
                        <li><a href="{% url 'oreh_app:index' %}#contact-section" class="nav-link">Контакты</a></li>
                        {% if user.is_authenticated %}
                            <li><a href = "{% url 'oreh_app:personal_account' %}"/> Личный кабинет </a></li>
                            <li><a href = "{% url 'users:logout' %}"/> Выйти </a></li>
                        {% else %}
                            <li><a href = "{% url 'users:login' %}"/> Войти </a></li>
                            <li><a href = "{% url 'users:register' %}"/> Подать заявку </a></li>

                        {% endif %}
                    </ul>
                </nav>
            </div>


            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a
                    href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
            </div>

        </div>
    </div>

</header>